.container
{
    /* display: flex; */
    /* width: 50px;
    height: 50px; */
    width: 500px;
    height: 500px;
    display: flex;
    /* align-item; */
    flex-direction: column;
}

.container .row
{
    width: 100%;
    height: 10%;
    display: flex;
}

.container .row .col
{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.blackbckgrd
{
    background-color: rgb(243, 67, 67);
}

.whitebckgrd
{
    background-color: rgb(80, 80, 251);
}


.mainContainer
{
    position: fixed;
    width: 100%;
    height: 100%;
    /* padding: 0;
    margin: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.blackChess
{
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: black;
}

.whiteChess
{
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: white;
}

.possibleMove
{
    border-radius: 50%;
    height: 80%;
    width: 80%;
    background-color: green;
}
